.image {width: 300px; margin-left: 250px; margin-top: 50px;}
.text {margin-left: 200px; margin-top:5px; }
.search {width:400px;}
.buttondiv {margin-left: 288px; margin-top: 10px;}
.button {height:25px;}